html,
body,
#__next,
.content,
.full_screen {
  height: 100%;
}


.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipse {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}