html,
body {
  background: #181818;
}

.product_card {
  display: flex;
}

.product_image {
  height: 500px;
  width: 300px;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

.product_title {
  font-size: 3.75em;
  font-weight: 900;
}

.big_title {
  font-size: 4.75em;
  font-weight: 900;
}

.product_text {
  font-weight: bold;
}

.product_price {
  font-weight: 900;
  font-size: 2em;
}

.no-link {
  color: inherit;
  text-decoration: none !important;
}

.no-link:hover {
  color: inherit;
}

@media screen and (max-width: 768px) and (min-width: 0) {
}

@media screen and (min-width: 768px) {
}
