html,
body,
main,
.dark_mode {
  background: #0c0b07 !important;
}

.product_card {
  display: flex;
}

.product_image {
  height: 500px;
  width: 300px;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

.products_wrapper:nth-child(even) h4 h3 p {
  color: #fff !important;
}

.product_title {
  font-size: 3.75em;
  font-weight: 900;
}

.big_title {
  font-size: 4.75em;
  font-weight: 900;
}

.product_text {
  font-weight: bold;
}

.product_price {
  font-weight: 900;
  font-size: 2em;
}

.no-link {
  color: inherit;
  text-decoration: none !important;
}

.no-link:hover {
  color: inherit;
}

.hero_image {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 5em 5em;
}

@media screen and (max-width: 858px) and (min-width: 0) {
  .hero_image {
    justify-content: flex-start;
    padding: 2em;
    background-position: right;
  }
}

@media screen and (min-width: 768px) {
}
